@model IEnumerable<LHDBaiThucHanh214.Models.HaiDang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới", "Thêm")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HaiDangName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HaiDangName)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Sửa", new { id=item.HaiDangID }) |
            @Html.ActionLink("Chi Tiết", "Chi Tiết", new { id=item.HaiDangID }) |
            @Html.ActionLink("Xóa", "Xóa", new { id=item.HaiDangID })
        </td>
    </tr>
}

</table>
