@model LHDBaiTapLon214.Models.ThongTin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Thông Tin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThangNam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThangNam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chi Tiết", "Chi Tiết", new { id = Model.MaSinhVien }) |
    @Html.ActionLink("Trở Lại", "Index")
</p>
